*.mdf
*.ldf
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.sdf
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Pp]ublish.xml
*.resharper
*.orig
*.dotCover
*.rej
*.ncrunchproject
*.psess
*.ctl
*.vsp
*.user
*.received.txt
*.received.xml
*.received.html
*.DotSettings
*.zip
*.7z

*.min.css
*.min.js

!signalR-2.4.0.min.js

obj
bin
.vs/*
[B|b]in/*
/[B|b]in/
/[O|o]bj/
/[D|d]ebug/
/[R|r]elease/
/[P|p]ackages/
/[Ll]ogs/
[L|l]ogs/*
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*