@* WebConsole (https://github.com/hirov-anton/web-console)
See LICENSE file in the solution root for full license information
Copyright (c) 2018 Anton Hirov *@

@{
    ViewBag.Title = "WebConsole";
}

<div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="offset-0 col-12 offset-lg-2 col-lg-8">
            <div class="wc-io-area">
                <div class="d-flex align-items-center bg-secondary wc-io-area-header">
                    <span class="mr-auto text-white">Title</span>
                    <a href="#">
                        <i class="far fa-window-minimize"></i>
                    </a>
                    <a href="#">
                        <i class="far fa-window-maximize"></i>
                    </a>
                    <a href="#">
                        <i class="far fa-window-close"></i>
                    </a>
                </div>
                <div class="bg-dark wc-io-area-content">
                    <p class="text-white">Output data 01011110101</p>
                    <span class="text-white wc-blinking-cursor">|</span>
                </div>
                <div class="bg-secondary wc-io-area-footer">
                    <p class="text-white">
                        Console status...
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>