@* WebConsole (https://github.com/hirov-anton/web-console)
See LICENSE file in the solution root for full license information
Copyright (c) 2018 Anton Hirov *@

@{
    ViewBag.Title = "WebConsole";
}

<div>
    <div class="row">
        <div class="col-12 offset-lg-2 col-lg-8">
            <div id="wc-area-container">
                <div id="wc-area-default-content">No active jobs...</div>
            </div>
        </div>
    </div>
</div>