@* WebConsole (https://github.com/hirov-anton/web-console)
See LICENSE file in the solution root for full license information
Copyright (c) 2018 Anton Hirov *@

@{
    ViewBag.Title = "WebConsole";
}
<div>
    <div id="wc-tabs-container"
         class="row"></div>
    <div id="wc-windows-container"></div>
    @Html.Partial("NoteModal")
</div>