@* WebConsole (https://github.com/hirov-anton/web-console)
See LICENSE file in the solution root for full license information
Copyright (c) 2018 Anton Hirov *@

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-brand">
        <a href="/" id="wc-logo">
            <span>WebConsole</span>
            <i class="fas fa-angle-double-right fa-sm"></i>
            <span class="wc-logo-dot">.</span>
            <span class="wc-logo-dot">.</span>
            <span class="wc-logo-dot">.</span>
        </a>
    </span>
    <button class="navbar-toggler"
            data-toggle="collapse"
            data-target="#wc-header-content">
        <i class="fas fa-cogs fa-lg"></i>
    </button>
    <div id="wc-header-content"
         class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <select id="wc-jobs-list"
                        class="ml-lg-2 ml-xl-3 selectpicker"></select>
            </li>
            <li class="nav-item">
                <input type="text"
                       id="wc-job-args"
                       class="form-control"
                       placeholder="args[]"/>
            </li>
            <li class="nav-item">
                <div class="d-flex">
                    <a href="https://github.com/hirov-anton/web-console"
                       class="d-md-none mr-auto nav-link">
                        <i class="fab fa-github fa-lg"></i>
                    </a>
                    <a href="#"
                       id="wc-start-job-button"
                       class="nav-link"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Execute">
                        <i class="fas fa-file-code fa-lg"></i>
                    </a>
                    <a href="#"
                       id="wc-view-mode-button"
                       class="nav-link"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Mode">
                        <i class="fas fa-copy fa-lg"></i>
                    </a>
                    <a href="#"
                       id="wc-job-descriptions-button"
                       class="nav-link"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Statistics">
                        <i class="fas fa-file-alt fa-lg"></i>
                    </a>
                    <a href="#"
                       id="wc-stop-jobs-button"
                       class="nav-link"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Stop all">
                        <i class="fas fa-trash-alt fa-lg"></i>
                    </a>
                </div>
            </li>
        </ul>
        <a href="https://github.com/hirov-anton/web-console"
           class="d-none d-md-block">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </div>
</nav>