@* WebConsole (https://github.com/hirov-anton/web-console)
See LICENSE file in the solution root for full license information
Copyright (c) 2018 Anton Hirov *@

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand">
        <span id="wc-logo">
            <span>WebConsole</span>
            <i class="fas fa-angle-double-right fa-sm text-white"></i>
            <span class="wc-logo-dot">.</span>
            <span class="wc-logo-dot">.</span>
            <span class="wc-logo-dot">.</span>
        </span>
    </span>
    <a href="https://github.com/hirov-anton/web-console">
        <i class="fab fa-github fa-2x text-white"></i>
    </a>
</nav>