@* WebConsole (https://github.com/hirov-anton/web-console)
See LICENSE file in the solution root for full license information
Copyright (c) 2018 Anton Hirov *@

<div class="fade modal wc-note-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="wc-modal-title"></p>
            </div>
        </div>
    </div>
</div>