<div class="fade modal wc-note-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="wc-modal-title"></p>
            </div>
        </div>
    </div>
</div>