@* WebConsole (https://github.com/hirov-anton/web-console)
See LICENSE file in the solution root for full license information
Copyright (c) 2018 Anton Hirov *@

<div class="fade modal wc-window-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body wc-modal-body">
                <div class="d-flex justify-content-between wc-modal-header">
                    <p class="mr-auto">
                        All active jobs (name/start time)
                    </p>
                    <a href="#"
                       class="wc-modal-close-button">
                        <i class="fas fa-window-close"></i>
                    </a>
                </div>
                <div class="wc-modal-content"></div>
            </div>
        </div>
    </div>
</div>